<p style="color: green"><%= notice %></p>

<%= link_to "Home", root_path %>
<%= link_to "Articles", articles_path %>
<br>

<% unless @article.archived? %>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit this article", edit_article_path(@article) %></li>
  <li><%= link_to "Delete this article", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>

<p>
  <span><%= Comment.public_count %> Comments </span>
  <%= link_to "See more comments", article_comments_path(@article) %>
</p>

<%= render @article.comments %>

<h2>Add a comment</h2>
<%= render 'comments/form' %>

<% end %>
